body {
    text-align: center;
    background-color: #f0e8c5;
}

div {
    margin-top: 15px;
}

#error {
    color: red;
}

#plates {
    /* font-size: x-large; */
}

.app {
    margin-top: 40%;
    font-size: xxx-large;
}

.incoming {
    font-size: xxx-large;
}

.checkbox {
    width: 30px;
    height: 30px;
}